Wcf_1115_Client/1115_Client/Connected Services/ServiceReference1/FaceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FaceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFace_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/GetService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/GetService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/GetService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConsoleApp_1115_%EC%A1%B0%EB%B3%84%EC%8B%A4%EC%8A%B5_%EC%96%BC%EA%B5%B4_%EC%B6%94%EC%B6%9C_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%A8_" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFace_Image_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Image_Send" />
  </wsdl:message>
  <wsdl:message name="IFace_Image_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Image_Delete" />
  </wsdl:message>
  <wsdl:message name="IFace_Init_Send_Image_Data_InputMessage">
    <wsdl:part name="parameters" element="tns:Init_Send_Image_Data" />
  </wsdl:message>
  <wsdl:message name="IFace_Init_Send_Image_Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:Init_Send_Image_DataResponse" />
  </wsdl:message>
  <wsdl:message name="IFace_Image_Send_Result_Single_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Image_Send_Result_Single" />
  </wsdl:message>
  <wsdl:message name="IFace_Image_Send_Result_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Image_Send_Result" />
  </wsdl:message>
  <wsdl:message name="IFace_Image_Delete_Result_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Image_Delete_Result" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IFace">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Image_Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IFace/Image_Send" message="tns:IFace_Image_Send_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Image_Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IFace/Image_Delete" message="tns:IFace_Image_Delete_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Init_Send_Image_Data">
      <wsdl:input wsaw:Action="http://tempuri.org/IFace/Init_Send_Image_Data" message="tns:IFace_Init_Send_Image_Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFace/Init_Send_Image_DataResponse" message="tns:IFace_Init_Send_Image_Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Image_Send_Result_Single">
      <wsdl:output wsaw:Action="http://tempuri.org/IFace/Image_Send_Result_Single" message="tns:IFace_Image_Send_Result_Single_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Image_Send_Result">
      <wsdl:output wsaw:Action="http://tempuri.org/IFace/Image_Send_Result" message="tns:IFace_Image_Send_Result_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Image_Delete_Result">
      <wsdl:output wsaw:Action="http://tempuri.org/IFace/Image_Delete_Result" message="tns:IFace_Image_Delete_Result_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFace" type="tns:IFace">
    <wsp:PolicyReference URI="#NetTcpBinding_IFace_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Image_Send">
      <soap12:operation soapAction="http://tempuri.org/IFace/Image_Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Image_Delete">
      <soap12:operation soapAction="http://tempuri.org/IFace/Image_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Init_Send_Image_Data">
      <soap12:operation soapAction="http://tempuri.org/IFace/Init_Send_Image_Data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Image_Send_Result_Single">
      <soap12:operation soapAction="http://tempuri.org/IFace/Image_Send_Result_Single" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Image_Send_Result">
      <soap12:operation soapAction="http://tempuri.org/IFace/Image_Send_Result" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Image_Delete_Result">
      <soap12:operation soapAction="http://tempuri.org/IFace/Image_Delete_Result" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaceService">
    <wsdl:port name="NetTcpBinding_IFace" binding="tns:NetTcpBinding_IFace">
      <soap12:address location="net.tcp://localhost:8000/ImageAnalyze" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/ImageAnalyze</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>